<nav class="container navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-line" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a
          class="nav-link btn btn-outline-secondary btn-sm"
          aria-current="page"
          href="#"
        >
          Home
        </a>
        <a
          class="nav-link btn btn-outline-secondary btn-sm"
          href="/views/about.ejs"
        >
          About
        </a>
        <a
          class="nav-link btn btn-outline-secondary btn-sm"
          href="/views/contact.ejs"
        >
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>
