<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Post</title>
  </head>
  <body>
    <form
      class="my-form container-sm text-left d-none"
      action="/submit"
      method="POST"
    >
      <!-- Add title -->
      <div class="form-group my-4">
        <label for="formTitle">Add Title</label>
        <input
          type="text"
          name="fTitle"
          class="form-control-sm"
          id="formTitle"
          placeholder="Title"
          required
        />
      </div>

      <!-- Add description -->
      <div class="form-group">
        <label for="formDescription">Add Description</label>
        <textarea
          class="form-control"
          id="formDescription"
          rows="3"
          name="fDescription"
          required
        ></textarea>
      </div>

      <!-- Upload image -->
      <div class="form-group mt-3 d-flex w-50">
        <label for="exampleFormControlFile1">Add image</label>
        <input
          type="file"
          class="form-control-file"
          id="formImage"
          name="fImage"
        />
      </div>

      <!-- Submit button -->
      <div class="container d-inline-flex justify-content-end">
        <button type="submit" class="submit-button btn btn-secondary">
          Submit
        </button>
      </div>
    </form>
  </body>
</html>
