<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>Blog Post</title>
  </head>

  <body>
    <h1 class="text-center">Logo</h1>

    <%- include("partials/navbar.ejs") %>

    <div class="box-1">
      <div class="btn btn-one mt-3">
        <span>Add Post</span>
      </div>
    </div>

    <form
      class="my-form container-sm text-left d-none"
      action="/submit"
      method="POST"
    >
      <!-- Add title -->
      <div class="form-group my-4">
        <label for="formTitle">Add Title</label>
        <input
          type="text"
          name="fTitle"
          class="form-control-sm"
          id="formTitle"
          placeholder="Title"
          required
        />
      </div>

      <!-- Add description -->
      <div class="form-group">
        <label for="formDescription">Add Description</label>
        <textarea
          class="form-control"
          id="formDescription"
          rows="3"
          name="fDescription"
          required
        ></textarea>
      </div>

      <!-- Upload image -->
      <div class="form-group mt-3 d-flex w-50">
        <label for="exampleFormControlFile1">Add image</label>
        <input
          type="file"
          class="form-control-file"
          id="formImage"
          name="fImage"
        />
      </div>
      <div class="container d-inline-flex justify-content-end">
        <button type="submit" class="submit-button btn btn-secondary">
          Submit
        </button>
      </div>
    </form>

    <!-- Card -->
    <% if(locals.title) { %>
    <div class="card-post container card my-5" style="max-width: 540px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= title %></h5>
            <p class="card-text"><%= description %></p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <ul class="posts"></ul>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".btn-one").click(function (e) {
          $(".my-form").toggleClass("d-none d-block");
        });

        $(".submit-button").click(function (e) {
          localStorage.setItem("card-post", ".card-post");
        });

        const ul = $("ul");
        const titleInput = $("#formTitle");
        const descInput = $("#formDescription");
        let itemsArray = localStorage.getItem("items")
          ? JSON.parse(localStorage.getItem("items"))
          : [];
      });
    </script>
  </body>
</html>
