body {
  background-color: #272727;
}

.navbar-line {
  background-color: rgb(64, 106, 131);
  border-radius: 15px;
}

.container-fluid {
  padding: 0;
  background-color: #272727;
}

div[class*="box"] {
  height: 33.33%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn {
  line-height: 40px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.btn-one {
  width: 150px;
}

.image-size {
  height: 20px;
  width: 20px;
}

.nav-link {
  color: white;
}

.image-size:hover {
  cursor: pointer;
}

.navbar {
  padding: 0;
}

.card-post {
  background-color: rgb(64, 106, 131);
  color: white;
}

.details,
.updates {
  overflow: hidden;
}

.field-color {
  background-color: rgb(64, 106, 131);
}

.text-field {
  color: white;
}

.details-container {
  margin: 0;
}
